header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d6da;
  margin-bottom: 30px;
  padding: 0px 10px;
}

.header_bar3 {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 200px;
  height: 50px;
}

.header_bar3 img {
  height: 40px;
}

.header_h1 {
  height: 50px;
}

.header_h1 h1 {
  font-size: x-large;
  height: 50px;
}

.header_icons {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 200px;
  height: 50px;
  gap: 5px;
}

.header_icons img {
  height: 40px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.board-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #d3d6da;
  width: 60px;
  height: 60px;
  font-size: larger;
  font-weight: bolder;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.keyboard-row {
  display: flex;
  gap: 10px;
}

.keyboard-block {
  width: 30px;
  height: 50px;
  background-color: #dee0e2;
  padding: 10px 10px;
  font-size: 30px;
  font-weight: 600;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}

.enter {
  width: 60px;
  font-size: 15px;
}

.backspace {
  width: 60px;
}

.backspace img {
  width: 35px;
  height: 50px;
  line-height: 50px;
}
